/* Efeito para os links do menu */
.nav-link {
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    color: #E52521 !important; /* Vermelho Mario */
    border-bottom: 2px solid #E52521;
}

#personagens {
    display: flex; 
    justify-content: center; 
    margin-bottom: 20px; 
}

/* Estilo para a imagem específica */
.personagens-pequenos {
    max-width: 150px; 
    height: auto; 
    box-shadow: none !important;
}
/* Garante que o corpo da página ocupe 100% da altura da tela */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
/* Remove espaços padrão do navegador e garante altura total */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Faz o conteúdo principal (main) "empurrar" o rodapé para baixo */
main {
    flex: 1 0 auto;
}

/* Estilo para a imagem dos personagens ficar pequena e centralizada */
.mario {
    max-width: 180px;
    height: auto;
    display: block;
    margin: 20px auto 0 auto; /* Margem em cima para não colar no texto */
}